/* Top Bar */

#topbar {
    background: #444;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

#topbar .panel h4, .dashboard-container .cluster-status .panel div h3, #main-container .section h2.title {
    color: #fff;
}

#sticky-wrap {
    min-width: 940px;
    background: #222;
}

/* Main Section */

#main-container .section, #footer {
    border-color: #333;
    background-color: #313131;
}

.dashboard-container .cluster-status .panel, .no_element {
    border: none;
}

.dashboard-container .cluster-status .panel+.panel {
    border-left: thin solid #444;
}

.dashboard-container .cluster-status .panel li span {
    color: #ddd;
}

.dashboard-container .cluster-status .panel li {
    color: #888;
}

#log-view ul.log-entries li.log-entry , .dashboard-container .recent-logs > h2.title {
    color: #ddd;
    border-color: #444;
}

.no_element {
    color: #777;
    background: #444;
}

.dashboard-container .ops-plot .plot-container {
    background-color: #444;
    border: none;
}

.dashboard-container .ops-plot .ops-plot-legend .element {
    border-color: #fff;
}

.dashboard-container .ops-plot .ops-plot-legend .outer-circle {
    border: none;
    border-radius: 50%;
}

.dashboard-container .ops-plot .ops-plot-legend .color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0;
}

/* Dropdown */

.dropdown-menu {
    background-color: #494949;
    border-color: transparent;
}

.dropdown-menu a {
    color: #fff;
    font-weight: bold;
    font-family: "Copse";
}

/* Tables Section */

button.btn {
    color: #fff;
    border-color: transparent;
    background-color: #444;
    text-shadow: none;
    border-radius: 4px;
}

button.btn:hover {
    background-color: #555 !important;
    background-image: -webkit-linear-gradient(rgba(86,86,86,0.96), rgba(86,86,86,0.96)),-webkit-linear-gradient(bottom, rgba(100,100,100,.23) 0%, rgba(255,255,255,.1) 100%) !important;
    box-shadow: none !important;
}

button.btn.active {
    background-color: #666 !important;
}

#dataexplorer .options_container .close_queries_link.active, #dataexplorer .options_container .toggle_options_link.active {
    background-color: #666666;
}

#databases_container .database_container .header_container {
    border: none;
    background: #353535;
}

#databases_container .database_container .element-list-container {
    background: #333;
}

#databases_container .database_container .table_container {
    background: #444;
    border: none;
}

#databases_container .database_container .table_container .element-details [class] {
    border-color: #333;
    color: #fff;
}

.checkbox-container input[type="checkbox"]:checked + label:after {
    color: #fff !important;
    transform: scale(0.8);
    transition: all 0.2s ease;
}

.checkbox-container input[type="checkbox"]:not(:checked) + label:after {
    content: '';
    opacity: 0;
    transition: all 0.2s ease;
}

.checkbox-container input[type="checkbox"]:checked + label {
    background: #2ecc71;
    border-color: #2ecc71 !important;
    transition: all 0.2s ease;
}

.checkbox-container input[type="checkbox"]:not(:checked) + label {
    background: transparent;
    border-color: #ddd;
    transform: scale(0.8);
    transition: all 0.2s ease;
}

#databases_container .database_container .header_container .element-type {
    font-family: "Copse";
}

h1.title, #databases_container .database_container .header_container h3.name {
    color: #fff;
}

/* Servers Menu */

tr.server-container {
    background: #444;
    border-color: transparent;
}

tr.server-container td {
    border-color: transparent !important;
}

tr.server-container td+td {
    color: #ddd !important;
}

tr.server-container .highlight {
    color: #fff;
}

/* Data Explorer Menu */

#dataexplorer .input_query_full_container .input_query_container .CodeMirror {
    background: #222;
    border-color: #333;
    padding: 0 !important;
}

#dataexplorer .input_query_full_container .input_query_container .CodeMirror .CodeMirror-gutter {
    background: #444;
    border-right-color: #444;
}

.CodeMirror-gutters {
    border-right-color: #333;
}

#dataexplorer .toggled_container .nano .content .history_container .history_list .query_history:hover {
    color: #999;
}

#dataexplorer .toggled_container .nano .content .history_container .history_list .query_history {
    color: #777;
    border-bottom-color: #444;
}

#dataexplorer .toggled_container .nano .content .history_container .history_list .query_history .query_history_content .right_container {
    position: absolute;
    transform: translateY(-13px);
}

#dataexplorer .toggled_container .nano .content .history_container .history_list .query_history:last-of-type {
    margin-bottom: 1px;
}

#dataexplorer .toggled_container .nano_border {
    border-top-color: #666;
}

#dataexplorer .toggled_container .arrow_dataexplorer {
    border-bottom-color: #666;
}

#dataexplorer .result_view .tab-content {
    background-color: #414141;
    border-radius: 4px;
}

#dataexplorer .results .json_tree .jt_object {
    color: #fff;
}

#dataexplorer .results .json_tree .jt_points_collapsed {
    color: #999;
}

#dataexplorer .nav-tabs {
    border: none;
}

#dataexplorer .result_view {
    overflow: visible;
}

#dataexplorer .change_view_container li.active a {
    border-color: transparent;
    background-color: #414141;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: -15px;
    transform: translateY(-7px);
}

#dataexplorer .change_view_container li a {
    font-family: "Copse";
    background-color: #373737;
    padding-bottom: 2px;
}

#dataexplorer .change_view_container li:not(.active):hover a {
    font-family: "Copse";
    border-color: transparent;
    background-color: #3b3b3b;
    color: #71bbe0;
    padding-bottom: 10px;
    margin-bottom: -10px;
    transform: translateY(-7px);
}

#dataexplorer .options_view ul li {
    border-bottom: 1px solid #666666;
    color: #ddd;
}

#dataexplorer .options_view ul li:hover {
    color: #ddd;
}

#dataexplorer .result_view .results_header .metadata.floating_metadata {
    border: 1px solid #111;
    background-color: #222;
    color: #fff;
}

/* Data Explorer JSON Tree */

.CodeMirror-wrap pre, .cm-property, .cm-variable, .cm-def {
    color: #ddd !important;
}

.CodeMirror-selected {
    background-color: #111 !important;
}

.CodeMirror-cursor {
    border-left-color: #fff !important;
}

.cm-string, .cm-number, .jt_string {
    color: #2aa198 !important;
}

.jt_num {
    color: #2c63c2 !important;
}

.cm-keyword {
    color: #859900 !important;
}

#dataexplorer .results .json_tree .jt_object {
    border-left-color: #555 !important;
}

#dataexplorer .results .json_tree .jt_b { color: #fff }

/* Data Explorer Table View */

#dataexplorer .results .json_table_container .json_table .col-record {
    color: #f1f1f1;
    background-color: #222;
}

#dataexplorer .results .json_table_container .json_table .col-record-td {
    background: #222222;
}

#dataexplorer .results .json_table_container .json_table td {
    border: 1px solid #111;
}

#dataexplorer .results .json_table_container .json_table .td_attr {
    color: #f9f9f9;
    background: #222222;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#dataexplorer .results .json_table_container .json_table td {
    border: 1px solid #111;
}

#dataexplorer .results .json_table_container .json_table tr:nth-child(odd) {
    background: #333;
}

#dataexplorer .results .json_table_container .json_table tr:nth-child(even) {
    background: #444;
}

#dataexplorer .results .json_table_container .json_table .jta_value.empty.array {
    color: #fff;
}

#dataexplorer .results .json_table_container .json_table .col-record {
    color: #f1f1f1;
    background-color: #222;
}

#dataexplorer .results .json_table_container .json_table .col-record-td {
    background: #222222;
}

#dataexplorer .results .json_table_container .json_table td {
    border: 1px solid #111;
}

#dataexplorer .results .json_table_container .json_table .td_attr {
    color: #f9f9f9;
    background: #222222;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#dataexplorer .results .json_table_container .json_table td {
    border: 1px solid #111;
}

#dataexplorer .results .json_table_container .json_table tr:nth-child(odd) {
    background: #333;
}

#dataexplorer .results .json_table_container .json_table tr:nth-child(even) {
    background: #444;
}

#dataexplorer .results .json_table_container .json_table .jta_value.empty.array {
    color: #fff;
}

#dataexplorer .results .json_table_container .json_table .jta_object {
    color: #fff;
}

/* Data Explorer Raw View */

#dataexplorer .results .raw_view_container .raw_view_textarea, #dataexplorer .options_view .input-container input {
    border-color: #313131;
    color: #fff;
    font-family: monospace, mono, consolas;
    background-color: #222;
}

#dataexplorer .results .raw_view_container, #dataexplorer .result_view .activate_profiler_message, #dataexplorer .results .profile_summary {
    margin: -0px 5px 5px 5px;
}

/* Data Explorer Query Profile */

#dataexplorer .result_view .activate_profiler_message, #dataexplorer .results .profile_summary {
    background: #222222;
    border: thin solid #222222;
}

#dataexplorer .results .copy_profile:after {
    filter: invert();
}

#dataexplorer .results .copy_profile.zeroclipboard-is-hover {
    background-color: #555 !important;
    background-image: -webkit-linear-gradient(rgba(86,86,86,0.96), rgba(86,86,86,0.96)),-webkit-linear-gradient(bottom, rgba(100,100,100,.23) 0%, rgba(255,255,255,.1) 100%) !important;
    box-shadow: none !important;
}

#dataexplorer .results .profile_summary p span.big {
    color: #fff;
}

#dataexplorer .results .profile_summary p::before {
    filter: invert();
}

/* Suggestion Container */

#dataexplorer .input_query_full_container .suggestion_full_container .suggestion_description {
    background: #222;
    border-color: #111;
    box-shadow: none;
}

#dataexplorer .input_query_full_container .suggestion_description_arrow_overlay {
    border-bottom-color: #222;
}

#dataexplorer .input_query_full_container .suggestion_description_arrow {
    border-bottom-color: #111;
}

#dataexplorer .input_query_full_container .suggestion_full_container .suggestion_description p .description_name, #dataexplorer .input_query_full_container .suggestion_full_container .suggestion_description code .description_name {
    color: #fff;
}

#dataexplorer .input_query_full_container .suggestion_full_container .suggestion_description p .description_arguments, #dataexplorer .input_query_full_container .suggestion_full_container .suggestion_description code .description_arguments {
    color: #999;
}

#dataexplorer .input_query_full_container .suggestion_full_container .suggestion_description {
    color: #ddd;
}

#dataexplorer .input_query_full_container .suggestion_full_container .suggestion_description strong {
    color: #ededed;
}

#dataexplorer .input_query_full_container .suggestion_full_container pre {
    background-color: #151515;
    border-radius: 5px;
    padding: 5px;
}

/* Modal */



.modal {
    background-color: #333;
}

.modal-header, .modal-footer {
    background-color: #222;
    border: none;
}

.modal-footer {
    box-shadow: none;
}

.modal-body {
    border: none;
}

.modal label, .modal p {
    color: #ddd;
}

.modal input {
    background-color: #222;
    border-color: #191919;
    color: #fff;
}

/* Web UI Settings */

#options_container {
    display: none;
    position: absolute;
    width: 100%;
    background: #292929;
    border-bottom: 2px solid #313131;
}

.options_background .options_content .description, .options_background .title .title_content .title_text, .options_background .title .title_content .version {
    color: #fff;
}

.options_background .title {
    background: #4a4a4a;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #494949;
}

.options_container_arrow_overlay {
    border-bottom: 10px solid #4a4a4a;
}

.options_background .title .title_content .version .layers {
    filter: invert();
}
